:root {
  --brand-primary: #cc963e;
  --brand-secondary: #4c7389;
  /* --font-family-base: "PT Sans Narrow";
  --font-size-base: 18px; */
  --main-navigation-color: #262727;
  --default-button-color: #4c7389;
}

div.Branding_root_39zG3 {
  padding: 0;
}
