* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: normal;
}

body {
  background-color: var(--light-black);
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  color: var(--white);
}

h3 {
  font-size: 24px;
  margin-top: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* if two <p> elements are placed after each other 
p + p {
  margin-top: 20px;
}
*/

a,
a:visited {
  color: var(--white);
  text-decoration: none;
}

.pageTitle {
  font-size: 24px;
}

.iconAndTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconAndTitleContainer {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling of attach-file button */

/* 
* Hiding the native button
* Why 1x1px? Setting property values to zero ends up throwing the element out of tab order in some browsers.
* display: none/visibility: hidden will not work because the input value won’t be sent to the server when submitted. 
*/

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Styling the label */
[type="file"] + label {
  width: 118px;
  height: 33px;
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  padding: 8px 14px;
}

.attachButtonMargins {
  margin: 16px 0px;
}
