:root {
  /* project colors */
  --dipp-beige: #fdecd2;
  --distant-green: #63a360;
  --light-black: #1a1919;
  --lakeside-blue: #4c7389;
  --baked-orange: #cc963e;
  --secondary-mud: #262727;

  --white: #ffffff;
}
